/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #71c41ebe;
    color: rgb(56, 21, 66);
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a{
    color: white;
  }
  nav ul li a:hover{
    color: rgb(16, 18, 85);
  }
  
  main {
    padding: 20px;
  }
  
  article {
    margin-bottom: 40px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  