body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, .footer {
    background-color: #71c41ebe;
    color: rgb(56, 21, 66);
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a{
    color: white;
  }
  nav ul li a:hover{
    color: rgb(16, 18, 85);
  }
  
  main {
    padding: 20px;
  }
  
  article {
    margin-bottom: 40px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  .post-1-img, .post-2-img, .post-3-img{
    height: 200px;
    width: 400px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-between;
  }
  input{
    width: 150px;
    padding: 8px;
    border-radius: 2px;
    border: 1px bold black;
    margin-bottom: 2px;
  }
  textarea{
    width: 300px;
    height: 50px;
    margin: 3px 0px;
    padding: 8px;
    border-radius: 2px;
  }
  button{
    width: 80px;
    background-color: green;
    color: beige;
    border: none;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
  button:hover{
    background-color: greenyellow;
    color: rgb(19, 18, 18);
  }